@import "tailwindcss";

@layer base {

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
}




.detailsCardContainer {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

.detailsCard {
  max-width: 350px;
  width: 300px;
  height: 650px;
  display: flex;
  flex-direction: column;
  /* background-color: #1a1a1a; */
  border-radius: 1rem;
  border: 1px solid #ccc;
  transition: all 0.3s ease;
}

.detailsCard:hover {
  transform: scale(1.05);
}

.cardImg {
  width: 100%;
  height: 50%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.cardDetails {
  height: 50%;
  width: 100%;
  background-color: #1d4d6d;
  border-radius: 0 0 10px 10px;
  padding: 0.5rem;
}

.cardTitle {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0.5rem 0;
  text-align: center;
  font-weight: bold;
}

.rating {
  font-size: 1.2rem;
  font-weight: bold;
  color: #f0c040;
  margin: 0.5rem 0;
}

.ratingFigure {
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.3rem 0.5rem;
  color: #ffffff;
  border-radius: 2rem;
  text-align: center;
  /* Makes the rating value bold */
}

.highRating {
  background-color: green;
  /* Green color for high ratings */
}

.lowRating {
  background-color: red;
  /* Red color for low ratings */
}

.description {
  overflow: hidden;
  /* Hides any content that overflows the element's box */
  text-overflow: ellipsis;
  /* Displays an ellipsis (...) to indicate truncated text */
  font-size: 1.2rem;
  color: #ffffff;
  text-align: justify;
  margin: 0.5rem 0;
  line-height: 1.5;
  /* Limits the text to 3 lines */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  /* Prevents text from wrapping to the next line */
  /* white-space: nowrap; */
  /* Specifies the number of lines to show */
  overflow: hidden;
}

.cast,
.genre {
  font-size: 1rem;
  color: #02cf0d;
  margin: 0.5rem 0;
  line-height: 1.5;
  overflow: hidden;
}

.genre {
  color: #f0c040;
  /* margin-bottom: 0.5rem; */
}

.fontBold {
  font-weight: bold;
}


.watchButton {
  width: 100%;
  margin: 0.5rem auto;
  font-size: 1.2rem;
  text-decoration: none;
  color: #000000;
  background-color: aqua;
  padding: 0.5rem 1rem;
  text-align: center;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}